.playSection {
    margin-top: 100px;
    background-image: url('../../../assets/playBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 1100px;
    width: 100%;
    overflow-y: auto;
}

.playContainer {
    padding: 100px;
}

.playMain {
    display: flex;
}

.playText {
    flex: 0 0 45%;
    /* Take 60% of the available space */
}

.playTitle {
    display: flex;
    align-items: center;
}

.playTitleIcon img {
    max-width: 200px;
    height: auto;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 100%;
    position: relative;
}

.playTitleText {
    margin-left: 10px;
    font-family: 'Lemon', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #DD8764;
    -webkit-text-stroke: 1px white;
    align-self: stretch;
}

.playTextElement {
    color: #09353d;
    background-color: rgba(255, 255, 255, 0.418);
    font-size: 18px;
    font-family: 'Lemon', sans-serif;
    text-align: left;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    border-left: solid 5px white;
}

.playImgMain {
    flex: 1;
    /* Take the remaining space */
}

.playImgMain img {
    position: relative;
    max-width: 700px;
    border-radius: 50% 0% 0% 0%;
    padding: 10px;
    -webkit-mask-image: linear-gradient(to bottom left, transparent, black 50%);
    mask-image: linear-gradient(to bottom left, transparent, black 50%);
    border-bottom: solid 5px white;
    border-right: solid 5px white;
}

@media screen and (max-width: 1350px) {
    .playImgMain img{
        max-width: 600px;
    }
}

@media screen and (max-width: 1250px) {
    .playMain {
        flex-direction: column;
    }
    .playImgMain{
        justify-content: right;
        text-align: right;
    }
}
@media screen and (max-width: 850px) {
    .playTextElement{
        font-size: 16px;
    }
    .playImgMain img{
        max-width: 450px;
    }
}
@media screen and (max-width: 700px) {
    .playImgMain img{
        max-width: 400px;
    }
}
@media screen and (max-width: 650px) {
    .playContainer{
        padding: 50px;
    }
    .playTitle {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .playImgMain img{
        max-width: 300px;
    }
}
@media screen and (max-width: 550px) {
    .playContainer{
        padding: 50px;
    }
    .playTitleIcon img {
        max-width: 100px;
    }
    .playTitleText {
        font-size: 20px;
    }
    .playTextElement{
        font-size: 14px;
    }
}
@media screen and (max-width: 550px) {
    .playContainer{
        padding: 10px;
    }
}