.navbar {
  position: fixed; /* Set the navbar to be fixed */
  top: 0; /* Stick it to the top of the page */
  left: 0; /* Optionally, align it to the left */
  width: 100%; /* Make it full-width */
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 50px;
  z-index: 2;
  background: linear-gradient(90deg, #94D0D1 14.72%, #F5F5F5 56.53%);
  box-shadow: 0 4px 8px #ffffff9d; /* Optionally, add a box shadow for visual separation */
}


.title {
  margin-left: 10px;
  font-family: 'Lemon', sans-serif;
  font-size: 66px;
  font-weight: 400;
  text-decoration: none;
  color: #818F05;
  -webkit-text-stroke: 1px rgba(12, 61, 75, 1);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
  padding-right: 50px;
}

.menuItems {
  display: flex;
  gap: 50px;
  list-style: none;
  padding-right: 100px;
}

.menuItems a {
  font-size: 20px;
  color: #818F05;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-family: 'Lemon', sans-serif;
}

.menuItems a:hover {
  color: #0c3D4B;
}

.logo {
  max-width: 100px;
  height: auto;
  border-radius: 100%;
}

.logo,
.title {
  vertical-align: middle;
  display: inline-block;
  ;
}

.nav-icon{
  max-width: 50px;
}
.nav-text{
  display:none;
}

.nav-link {
  color: #818F05;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center vertically */
  text-decoration: none; /* Remove default underline for links */
}

.nav-link:hover .nav-text {
  display: inline; /* Display the text on hover */
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(0deg,
    #86dce7e5 50%,
    #818f05e0 100%);
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  .logo {
    width: 25%;
  }

  .title {
    font-size: 28px;
  }

}